@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/NotoSans-Bold.ttf');
  font-display: block;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Regular.ttf');
  font-display: block;
}

body {
  margin: 0;
}

iframe {
  pointer-events: none;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
